body {
    font-family: Raleway,Poppins;
}

.top-container {
    width: 45%;
    margin: 0 auto;
    text-align: center;
    height: 450px;
    margin-top: 200px;
    border: 1px solid grey;
}

.input-num {
    width: 45%;
    height: 80px;
    margin: 0 auto;
    gap: 8px;
    display: grid;
    grid-template-columns: 1fr;
}

.input-1,
.input-2 {
    outline: none;

}

.the-operator {
    width: 45%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 10px;
}

.add-btn,
.minus-btn,
.multiply-btn,
.divide-btn {
    padding: 10px 5px 10px 5px;
    color: white;
    background-color: rgba(115, 111, 111, 0.715);
}

.reset {
    width: 45%;
    margin: 0 auto;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
}

.answer {
    width: 45%;
    margin: 0 auto;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
}

.answer-new {
    width: 45%;
    margin: 0 auto;
    padding-top: 10px;
    display: grid;
    grid-template-columns: 1fr;
}

.answer p {
    font-size: 40px;
}

